@using InventoryManagement.WEB.ViewModels
@model InventoryManagement.WEB.ViewModels.TodoVm

@{
    ViewData["Title"] = "Home Page";
    var todos = new TodoVm();
}

@if (Model != null)
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p><h1>Title</h1> @Model.Title; <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    

}

